#first-row {
 margin-top: 120px;
}

.border-link {
 font-size: 1rem;
 display: inline-block;
}

.col-lg-4 img {
 aspect-ratio: 6 / 4;
 object-fit: cover;
}

h1 {
 font-size: 80px;
}

h2 {
 margin-bottom: 15px;
 font-size: 30px;
 color: lightgray;
}

h3 {
 font-size: 30px;
}

main section {
 margin-bottom: 100px;
}

p {
 opacity: 0.7;
 font-size: 18px;
}

@media (max-width: 1200px) {
 .border-link {
  display: block;
 }
}

@media (max-width: 950px) {
 .container {
  padding: 0 10px;
 }

 .border-link {
  font-size: 1.3rem;
 }

 #first-row {
  margin-top: 40px;
 }

 h1 {
  font-size: 60px;
 }

 h2 {
  font-size: 25px;
 }

 h3 {
  font-size: 20px;
 }

 p {
  font-size: 15px;
 }
}

@media (max-width: 850px) {
 h2 {
  font-size: 30px;
 }
}
